@media (min-width: 601px) and (max-width: 900px){
	*{
		font-size: 16px;
		/*margin: 0;*/
	}

	nav {
		display: flex;
		flex-direction: row;
		/*flex-wrap: wrap;*/
		align-items: center;
		justify-content: space-between;
	}

	.webpage-name {
		font-size: 2.5rem;
	}


	.blogs-cards {
		width: 90vw;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 25px;
		/*grid-template-rows: minmax(500px, auto);*/
		grid-auto-rows: auto;
	}

	.blog {
		/*max-width: 400px;
		width: minmax(300px 400px);*/
		width: auto;
	}

	.footer-div {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
		"l-side r-side";
	}

	.right-side {
		grid-area: r-side;
	}

	.left-side {
		grid-area: l-side;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}


	.recipe-blog-main-section p {
		text-align: left;
	}

	.recipe-blog-main-section {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	/*padding: 0 0 10px 10px;*/
/*	border-style: solid;
    border-color: #600;
    border-radius: 2%;*/
    padding: 10px;
    /*margin: 10px;*/
	}

	.recipe-blog-page {
    /*width: 90vw;*/
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 9fr 3fr;
	}

}

