@import "./box_handling.css";
@import "./layout.css";


*{
	margin: 0;
	padding: 0;
	font-family: "Merriweather", serif;
	font-size: 16px;
	font-weight: "regular";
	text-align: center;
	line-height: 1.2;
	/*background-color: #fff;*/
}


/*Typography*/
h1{
	font-family: "Berkshire Swash", cursive;
	font-size: 4rem;
	text-align: center;
}

h2,
h3{
	font-family: "Merriweather", serif;
	font-style: italic;
	text-align: center;
	font-weight: bold;
}

h2{
	font-size: 2.5rem;
}

h3{
	font-size: 1.8rem;
}

p{
	font-size: 1rem;
}

a{
	text-decoration: none;
}

.webpage-name {
	font-family: "Berkshire Swash", cursive;
	font-size: 1.2rem;
}

.nav-bar a{
	font-size: 1.2rem;
	font-weight: bold;
}

footer{
	font-size: 1.5rem;
	font-style: italic;
}

.fa {
	font-size: 2rem;
}

.copyrights p{
	font-size: 0.8rem;
}

ul{
	list-style: none;
}

/*Colors*/
/*header .main-page-header{*/
header {
	background-color: #F63;
	color: #FFF;
	border: 10px;
	border-color: #FFF;
}


a{
	color: inherit;
}

/*section.blogs {
    background-color: #CCC;
    color: #333;
    border: 5px;
    border-color: #333;
}*/

.blog-card-content {
	background-color: #F63;
	background-image: linear-gradient(#FCC, #FFF);
}

.btn {
	background-color: #F63;
	color: #FFF;
}

footer {
	background-color: #FFF;
	color: #F63;
}

.fa {
	color: #F63;
}



